:root {
  --background-top: #ffffff;
  --background-bottom: #a7a7a7;
  --top-gradient: linear-gradient(135deg, #ffffff, #ffffff);
  --bottom-gradient: #c0bfbf;
  --cards: #F2F2F2;
  --borders-and-accents: #E2E2E2;
  --buttons-and-links: #C5C5C5;
  --primary-text: #FFFFFF;
  --secondary-text: #B5B5B5;
  --title-text: #535353;
  --textbox-text: #000000;
  --navbar-gradient: linear-gradient(to right, #FF69B4, #FFD700, #32CD32, #00BFFF, #9400D3);
  --metallic-color: #C6C6C6;
}

body {
  font-family: 'Aldrich';
  background-image: linear-gradient(var(--background-top), var(--background-bottom));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  justify-content: space-around;
  height: 40px;
  padding: 10px;
  background-color: var(--cards);
  color: var(--secondary-text);
  border-bottom: 1px solid var(--secondary-text);
  background-image: linear-gradient(-45deg, #ff0000a4, #ff80009a, #ffff00, #00ff0088, #0000ff7e, #8c00ff9d);
  background-size: 600% 600%;
  animation: rainbow 20s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#navbar-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar-item {
  margin-inline: 10px;
  text-shadow: 1px 1px black;
}

.navbar-item:hover {
  text-shadow: 2px 2px white;
  box-shadow: 0px 5px var(--primary-text);
}

.navbar-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--primary-text);
}

.navbar-link:hover {
  color: var(--textbox-text);
  font-size: 1.1rem;
}

/* REST OF PAGE */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.status-sidebar {
  width: 300px;
  height: 100%; /* Full height minus navbar and padding */
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-pic {
  width: 75%;
  height: 75%;
  margin: 1rem;
  object-fit: scale-down;
}

#speech-bubble {
  width: 300px; /* change the width as per your requirement */
  height: auto; /* keep aspect ratio */
}


#status-text {
  position: absolute; /* position the text relative to its closest positioned ancestor */
  top: 60px; /* adjust the value as per your requirement */
  left: 35px; /* adjust the value as per your requirement */
  width: 80%;
}

.posts-container {
  width: 600px;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  position: sticky;
  top: 80px; /* Height of navbar */
  background-color: var(--cards);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.418);
}

::-webkit-scrollbar {
  background-color: transparent;
}

.post {
  display: flex;
  border-bottom: 1px solid var(--borders-and-accents);
  padding: 10px;
  color: var(--primary-text);
}

.post-link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text);
}

.post-image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
}

.post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-title {
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--title-text);
}

.text {
  font-size: 14px;
  color: var(--textbox-text);
}

@media only screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .about-me {
    width: 50%;
    height: 50%;
  }

  .posts-container {
    width: 100%;
    height: calc(100vh - 80px);
  }
}