:root {
  /* COLORS */
  /* div colors */
  --navbar-gradient: linear-gradient(-45deg, #ffb66d, #6aff6a, #ff4a4aa4, #6d6dff, #ffff81, #bf70ff);
  --selected-gradient: linear-gradient(-10deg, var(--cards-top), var(--cards-bottom));
  
  --background-top: #ffffff;
  --background-bottom: #dbdbd5;
  
  --cards-top: #ffffff;
  --cards-bottom: #d8d8d7;
  
  --borders-and-accents: #E2E2E2;
  
  --primary-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.418);
  --secondary-box-shadow: 0 8px 10px rgba(26, 26, 26, 0.65);
  --navbar-box-shadow: 0 5px rgba(250, 250, 250, 0.849);

  /* buttons */
  --button-light: #dad8d8;
  --button-dark: #bdbdbd;
  
  /* text colors */
  --primary-text: #333333;
  --secondary-text: #666666;

  --title-text: #222222;
  --text-shadow: 2px 2px 2px #bfbfbf, -2px -2px 2px #ececec;

  /* DIMENSIONS */
  /* border radius */
  --primary-border-radius: 10px;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  text-shadow: var(--primary-text-shadow);
  background-image: linear-gradient(var(--background-top), var(--background-bottom));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  min-height: 25px;
  width: 100%;
  background-size: 500% 100%;
  background-image: var(--navbar-gradient);
  animation: rainbow 20s ease infinite;
  box-shadow: var(--primary-box-shadow);
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#navbar:hover {
  box-shadow: var(--secondary-box-shadow);
  height: 33px;
  align-items: center;
}

#navbar-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar-item {
  margin-inline: 30px;
  text-shadow: var(--primary-text-shadow);
}

.navbar-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--primary-text);
}

.navbar-link:hover {
  font-size: 1.1rem;
  box-shadow: var(--navbar-box-shadow);
}

/* MAIN CONTENT */
#main-content {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 100px;
}

/* Piano Image */
#piano-img {
  position: absolute;
  bottom: 200px;
  left: 40%;
}

#speech-bubble-img {
  position: absolute;
  bottom: 200px;
  width: 300px;
  height: auto;
  transform: rotate(-20deg);
  visibility: hidden;
  right: calc(50% + 100px); /* Set the left to 50% plus 100px */
}

#post-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* POSTS STUFF */
#post-section-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 125px;
  height: 50px;
  color: var(--title-text);
  text-shadow: var(--text-shadow);
  background-color: var(--cards-top);
  box-shadow: var(--primary-box-shadow);
  border-radius: var(--primary-border-radius);
  animation: float 2s ease-in-out infinite;
}

#posts-list {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(var(--cards-top), var(--cards-bottom));
  overflow-y: scroll;
  border-radius: var(--primary-border-radius);
  box-shadow: var(--primary-box-shadow);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-2px);
  }
}

#posts-list:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.555), 0 6px 6px rgba(19, 20, 20, 0.5);
}

/* scrollbar */
::-webkit-scrollbar-track {
  background: var(--background-bottom);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--buttons-and-links);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-text);
}

/* Popout Image */

.post-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--borders-and-accents);
  padding: 10px;
  color: var(--primary-text);
}

.post-container:hover {
  background-image: linear-gradient(-45deg, var(--button-light), var(--button-dark));
  animation: rainbow 4s ease-in-out infinite;
  background-size: 1000% 100%;
  background-position: 0% 50%;
}

.post-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text);
}

.post-image {
  width: 50px;
  height: 50px;
  margin-inline: 20px;
  border-radius: var(--primary-border-radius);
}

.post-title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.post-title {
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--title-text);
  text-shadow: var(--title-text-shadow);
}

.post-description {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  color: var(--secondary-text);
  text-shadow: var(--text-shadow);
}