:root {
  /* COLORS */
  /* div colors */
  --navbar-gradient: linear-gradient(-45deg, #ffb66d, #6aff6a, #ff4a4aa4, #6d6dff, #ffff81, #bf70ff);
  --selected-gradient: linear-gradient(-10deg, var(--cards-top), var(--cards-bottom));
  
  --background-top: #ffffff;
  --background-bottom: #dbdbd5;
  
  --cards-top: #ffffff;
  --cards-bottom: #d8d8d7;
  
  --borders-and-accents: #E2E2E2;
  
  --primary-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.418);
  --secondary-box-shadow: 0 8px 10px rgba(26, 26, 26, 0.65);
  --navbar-box-shadow: 0 5px rgba(250, 250, 250, 0.849);

  /* buttons */
  --button-light: #dad8d8;
  --button-dark: #bdbdbd;
  
  /* text colors */
  --primary-text: #333333;
  --secondary-text: #666666;

  --title-text: #222222;
  --text-shadow: 2px 2px 2px #bfbfbf, -2px -2px 2px #ececec;

  /* DIMENSIONS */
  /* border radius */
  --primary-border-radius: 10px;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  text-shadow: var(--primary-text-shadow);
  background-image: linear-gradient(var(--background-top), var(--background-bottom));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 90%;
  height: 75%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 40px;
}

/* NAVBAR */
#navbar {
  display: flex;
  justify-content: space-around;
  height: 40px;
  padding: 10px;
  background-size: 500% 100%;
  background-image: var(--navbar-gradient);
  animation: rainbow 20s ease infinite;
  box-shadow: var(--primary-box-shadow);

}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#navbar:hover {
  box-shadow: var(--secondary-box-shadow);
  height: 40px;
  align-items: center;
}

#navbar-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar-item {
  margin-inline: 10px;
  text-shadow: var(--primary-text-shadow);
}

/* .navbar-item:hover {
} */

.navbar-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--primary-text);
}

.navbar-link:hover {
  font-size: 1.1rem;
  box-shadow: var(--navbar-box-shadow);
}

/* SIDEBAR STUFF */
.status-sidebar {
  width: 350px;
  height: 51vh; /* Full height minus navbar and padding */
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(var(--cards-top), var(--cards-bottom));
  border-radius: var(--primary-border-radius);
  box-shadow: var(--primary-box-shadow);
  animation: float 3s ease-in-out infinite;
}

.status-sidebar:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.555), 0 6px 6px rgba(19, 20, 20, 0.5);
}

@keyframes float {
  0% {
  transform: translateY(-2px);
  }
  50% {
  transform: translateY(2px);
  }
  100% {
  transform: translateY(-2px);
  }
  }

#profile-pic {
  width: 75%;
  height: 75%;
  margin: 1rem;
  object-fit: scale-down;
}

#speech-bubble {
  width: 300px;
  height: 300px; /* keep aspect ratio */
  animation: speech-float 3s ease-in-out infinite;
}

@keyframes speech-float {
  0% {
    transform: translateY(-2px) translateZ(5px) rotateZ(-2deg);
  }
  50% {
    transform: translateY(2px) translateZ(-10px) rotateZ(2deg);
  }
  100% {
    transform: translateY(-2px) translateZ(20px) rotateZ(-2deg);
  }
}

#status-text {
  position: absolute; /* position the text relative to its closest positioned ancestor */
  width: 60%;
  height: auto;
  padding-bottom: 270px;
  margin: 0 auto;
  color: var(--primary-text);
  text-shadow: var(--text-shadow);
}

/* POSTS STUFF */

.posts-list {
  width: 600px;
  height: 51vh;
  overflow-y: scroll;
  position: sticky;
  top: 80px; /* Height of navbar */
  background-image: linear-gradient(var(--cards-top), var(--cards-bottom));
  border-radius: var(--primary-border-radius);
  box-shadow: var(--primary-box-shadow);
  animation: float 5s ease-in-out infinite;
}

.posts-list:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.555), 0 6px 6px rgba(19, 20, 20, 0.5);
}

/* scrollbar */
::-webkit-scrollbar-track {
  background: var(--background-bottom);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--buttons-and-links);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-text);
}

.post-container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--borders-and-accents);
  padding: 10px;
  color: var(--primary-text);
}

.post-container:hover {
  background-image: linear-gradient(-45deg, var(--button-light), var(--button-dark));
  animation: rainbow 4s ease-in-out infinite;
  background-size: 1000% 100%;
  background-position: 0% 50%;
}

.post-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.post-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text);
}

.post-image {
  width: 50px;
  height: 50px;
  border-radius: var(--primary-border-radius);
  margin-right: 10px;
}

.post-title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.post-title {
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--title-text);
  text-shadow: var(--title-text-shadow)
}

.post-text {
  font-size: 14px;
  text-shadow: var(--text-shadow);
}

@media only screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .about-me {
    width: 50%;
    height: 50%;
  }

  .posts-list {
    width: 100%;
    height: calc(100vh - 80px);
  }
}