* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times', sans-serif;
    background: #c0deed;
    width: 100vw;
    height: 100vh;
}

#HeaderContainer {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0084b4;
}

#HeaderText {
    color: #F5F8FA;
    font-size: 2rem;
    font-weight: 600;
}

#MainContainer {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#WIPContainer {
    height: 50%;
    width: 50%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    background-color: #0084b4;
}

#WIPTextContainer {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#WIPText {
    color: #F5F8FA;
    font-size: 1.5rem;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    #WIPText {
        font-size: 1rem;
    }
}

#ProjectsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    overflow: auto;
    background-color: #E1E8ED;
}

.NonBulletedItem {
    list-style-type: none;
}

#SoyjakBotLink {
    font-size: 2rem;
    color: #1DA1F2;
    text-decoration: none;
}