:root {
  --top-gradient: #F2F2F2;
  --bottom-gradient: #99a2aa;
  --cards: #484a4e;
  --borders-and-accents: #E2E2E2;
  --buttons-and-links: #C5C5C5;
  --hover: #ecb2b2;
  --primary-text: #ffffff;
  --secondary-text: #B5B5B5;
  --textbox-text: #000000;
}

body {
  font-family: 'Aldrich';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to bottom,
    var(--top-gradient),
    var(--bottom-gradient)
  );
}

nav {
  background-color: var(--cards);
  color: var(--secondary-text);
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color:var(--secondary-text)
}

.navbar-links:hover {
  color: var(--hover);
}

.status-sidebar {
  width: 300px;
  height: 100%; /* Full height minus navbar and padding */
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-pic {
  width: 75%;
  height: 75%;
  margin: 1rem;
  object-fit: scale-down;
}

#speech-bubble {
  width: 300px; /* change the width as per your requirement */
  height: auto; /* keep aspect ratio */
}


#status-text {
  position: absolute; /* position the text relative to its closest positioned ancestor */
  top: 60px; /* adjust the value as per your requirement */
  left: 35px; /* adjust the value as per your requirement */
  width: 80%;
}

.posts-container {
  width: 600px;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  position: sticky;
  top: 80px; /* Height of navbar */
  background-color: var(--card);
  border-radius: 10px;
}

.post {
  display: flex;
  border-bottom: 1px solid var(--borders-and-accents);
  padding: 10px;
  color: var(--primary-text);
  background-color: var(--cards);
}

.post-link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text);
}

.post-image {
  width: 50px;
  height: 50px;
  /* border-radius: 50%; */
  margin-right: 10px;
}

.post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.text {
  font-size: 14px;
  color: var(--secondary-text);
}

@media only screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .about-me {
    width: 50%;
    height: 50%;
  }

  .posts-container {
    width: 100%;
    height: calc(100vh - 80px);
  }
}