:root {
  --background: #15202B;
  --blue-accent: #0e3953;
  --card: #192734;
  --card-footer: #111b24;
  --hover-color: #2591d4;
  --primary-text: #FFFFFF;
  --secondary-text: #8899A6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
}

nav {
  background-color: var(--card);
  color: var(--secondary-text);
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid var(--secondary-text);
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color:var(--secondary-text)
}

.navbar-links:hover {
  color: var(--hover-color);
}

.about-me {
  background-color: white;
  width: 300px;
  height: 100%; /* Full height minus navbar and padding */
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card);
  color: var(--primary-text);
  border: 1px solid var(--secondary-text);
}

#my-name-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #0e3953;
  font-size: 1rem;
}

#my-name-text {
  font-size: 25px;
}

#aboutme-pic {
  width: 75%;
  height: 75%;
  margin: 1rem;
  object-fit: scale-down;
  border-radius: 50%;
}

#about-me-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: var(--card-footer);
  font-size: 1rem;
}

#aboutme-text {
  padding: 10px;
  color: var(--secondary-text);
  overflow-wrap: break-word;
}

.posts-container {
  background-color: #F7F9FA;
  width: 600px;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  position: sticky;
  top: 80px; /* Height of navbar */
  background-color: var(--card-footer);
  border: 1px solid var(--secondary-text);
}

.post {
  display: flex;
  border: 1px solid var(--secondary-text);
  padding: 10px;
  color: var(--primary-text);
  background-color: var(--card);
  margin: 0.5rem;
}

.post-link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text);
}

.post-image {
  background-color: #E1E8ED;
  width: 50px;
  height: 50px;
  /* border-radius: 50%; */
  margin-right: 10px;
}

.post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.text {
  font-size: 14px;
  color: var(--secondary-text);
}

/* If screen width is above a certain size (desktop style) */
@media only screen and (min-width: 1000px) {
  .container {
    padding-right: 300px;
  }
}

/* If screen width gets too small */
@media only screen and (max-width: 900px) {
  #my-name-text {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .about-me {
    width: 100%;
    height: 50%;
  }

  #my-name-text {
    font-size: 2rem;
  }

  .posts-container {
    width: 100%;
    height: calc(100vh - 80px);
  }
}